<a href="https://colab.research.google.com/github/Davido-star/GEOG_test_repo/blob/main/Conditionals_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modules Operator

In [1]:
quotient = 7/3
print (quotient)

2.3333333333333335

In [2]:
remainder = 7%3
print (remainder)

1

Boolean Expressions

In [4]:
6 % 3==0 # Whats the output ? 6 is dividadable by 3 without a remainder 
7 %3 ==0 # checking a condition - is ther something left over? if so its false becasue 7/3 is not equal to 0 remainder

False

In [ ]:
#pg48

Conditional Execution

In [7]:
water_per_person = 20 
if water_per_person >19 : 
  print(water_per_person, 'post emergency levels.')

20 post emergency levels.

In [11]:
x = 16
if x % 2==0:
  print('x is even.')
else:
  print('x is odd.')

x is even.

In [20]:

def even_odd (x):
  if x % 2==0:
    print('x is even.')
  else:
    print('x is odd.')
print (even_odd (4/2))

x is even.
None

In [22]:
# chained condition 
def ifequal (x,y):
  if x==y:
    print('x and y are equal')
  else: 
    if x<y :
      print ('x is less than y')
    else:
      print ('x is greater than y')
ifequal(2,2)

x and y are equal

In [24]:
# this function takes an inteeger as an input and counts to down to zero 
def countdown (n):
  if n == 0:
    print('Blastoff!')
  else:
    print(n)
    countdown(n-1)
countdown(10) #maks the function run until a connection is met

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [34]:
#input : this function takes two integers as an argument 
#output: in prints s n times 
def print_n(s,n):
  if n==0:
    return 
  print(s)
  print_n(s, n-1)

print_n(2,3)

2
2
2

In [38]:
def sumInt(num):
  if num ==0 :
    return 0 
  else:
    return num + sumInt(num-1)

sumInt(4)

10